@font-face {
  font-family: "RedHatDisplay";
  src: url("./libs/redhat/redhat-font/latest/webfonts/RedHatDisplay/RedHatDisplay-Regular.eot");
  /* IE9 Compat Modes */
  src: url("./libs/redhat/redhat-font/latest/webfonts/RedHatDisplay/RedHatDisplay-Regular.eot?#iefix") format("embedded-opentype"), url("./libs/redhat/redhat-font/latest/webfonts/RedHatDisplay/RedHatDisplay-Regular.woff") format("woff");
  /* Modern Browsers */
  font-style: "normal";
  font-weight: 300;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: "RedHatDisplay";
  src: url("./libs/redhat/redhat-font/latest/webfonts/RedHatDisplay/RedHatDisplay-Medium.eot");
  /* IE9 Compat Modes */
  src: url("./libs/redhat/redhat-font/latest/webfonts/RedHatDisplay/RedHatDisplay-Medium.eot?#iefix") format("embedded-opentype"), url("./libs/redhat/redhat-font/latest/webfonts/RedHatDisplay/RedHatDisplay-Medium.woff") format("woff");
  /* Modern Browsers */
  font-style: "normal";
  font-weight: 400;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: "RedHatDisplay";
  src: url("./libs/redhat/redhat-font/latest/webfonts/RedHatDisplay/RedHatDisplay-Bold.eot");
  /* IE9 Compat Modes */
  src: url("./libs/redhat/redhat-font/latest/webfonts/RedHatDisplay/RedHatDisplay-Bold.eot?#iefix") format("embedded-opentype"), url("./libs/redhat/redhat-font/latest/webfonts/RedHatDisplay/RedHatDisplay-Bold.woff") format("woff");
  /* Modern Browsers */
  font-style: "normal";
  font-weight: 700;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: "RedHatText";
  src: url("./libs/redhat/redhat-font/latest/webfonts/RedHatText/RedHatText-Regular.eot");
  /* IE9 Compat Modes */
  src: url("./libs/redhat/redhat-font/latest/webfonts/RedHatText/RedHatText-Regular.eot?#iefix") format("embedded-opentype"), url("./libs/redhat/redhat-font/latest/webfonts/RedHatText/RedHatText-Regular.woff") format("woff");
  /* Modern Browsers */
  font-style: "normal";
  font-weight: 400;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: "RedHatText";
  src: url("./libs/redhat/redhat-font/latest/webfonts/RedHatText/RedHatText-Medium.eot");
  /* IE9 Compat Modes */
  src: url("./libs/redhat/redhat-font/latest/webfonts/RedHatText/RedHatText-Medium.eot?#iefix") format("embedded-opentype"), url("./libs/redhat/redhat-font/latest/webfonts/RedHatText/RedHatText-Medium.woff") format("woff");
  /* Modern Browsers */
  font-style: "normal";
  font-weight: 700;
  text-rendering: optimizeLegibility;
}