@font-face {
  font-family: "RedHatDisplay";
  src: url("./RedHatDisplay/Red_Hat_Display-Regular.eot");
  /* IE9 Compat Modes */
  src: url("./RedHatDisplay/Red_Hat_Display-Regular.eot?#iefix") format("embedded-opentype"), url("./RedHatDisplay/Red_Hat_Display-Regular.woff") format("woff"), url("./RedHatDisplay/Red_Hat_Display-Regular.svg#Red_Hat_Display-Regular") format("svg");
  /* Legacy iOS */
  font-style: "normal";
  font-weight: 300;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: "RedHatDisplay";
  src: url("./RedHatDisplay/Red_Hat_Display-Medium.eot");
  /* IE9 Compat Modes */
  src: url("./RedHatDisplay/Red_Hat_Display-Medium.eot?#iefix") format("embedded-opentype"), url("./RedHatDisplay/Red_Hat_Display-Medium.woff") format("woff"), url("./RedHatDisplay/Red_Hat_Display-Medium.svg#Red_Hat_Display-Medium") format("svg");
  /* Legacy iOS */
  font-style: "normal";
  font-weight: 400;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: "RedHatDisplay";
  src: url("./RedHatDisplay/Red_Hat_Display-Bold.eot");
  /* IE9 Compat Modes */
  src: url("./RedHatDisplay/Red_Hat_Display-Bold.eot?#iefix") format("embedded-opentype"), url("./RedHatDisplay/Red_Hat_Display-Bold.woff") format("woff"), url("./RedHatDisplay/Red_Hat_Display-Bold.svg#Red_Hat_Display-Bold") format("svg");
  /* Legacy iOS */
  font-style: "normal";
  font-weight: 700;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: "RedHatText";
  src: url("./RedHatText/Red_Hat_Text-Regular.eot");
  /* IE9 Compat Modes */
  src: url("./RedHatText/Red_Hat_Text-Regular.eot?#iefix") format("embedded-opentype"), url("./RedHatText/Red_Hat_Text-Regular.woff") format("woff"), url("./RedHatText/Red_Hat_Text-Regular.svg#Red_Hat_Display-Regular") format("svg");
  /* Legacy iOS */
  font-style: "normal";
  font-weight: 300;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: "RedHatText";
  src: url("./RedHatText/Red_Hat_Text-Regular.eot");
  /* IE9 Compat Modes */
  src: url("./RedHatText/Red_Hat_Text-Regular.eot?#iefix") format("embedded-opentype"), url("./RedHatText/Red_Hat_Text-Regular.woff") format("woff"), url("./RedHatText/Red_Hat_Text-Regular.svg#Red_Hat_Display-Regular") format("svg");
  /* Legacy iOS */
  font-style: "normal";
  font-weight: 400;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: "RedHatText";
  src: url("./RedHatText/Red_Hat_Text-Medium.eot");
  /* IE9 Compat Modes */
  src: url("./RedHatText/Red_Hat_Text-Medium.eot?#iefix") format("embedded-opentype"), url("./RedHatText/Red_Hat_Text-Medium.woff") format("woff"), url("./RedHatText/Red_Hat_Text-Medium.svg#Red_Hat_Display-Medium") format("svg");
  /* Legacy iOS */
  font-style: "normal";
  font-weight: 700;
  text-rendering: optimizeLegibility;
}