<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.kern1.A</key>
    <array>
      <string>A</string>
      <string>Aacute</string>
      <string>Abreve</string>
      <string>Acircumflex</string>
      <string>Adieresis</string>
      <string>Agrave</string>
      <string>Amacron</string>
      <string>Aogonek</string>
      <string>Aring</string>
      <string>Atilde</string>
    </array>
    <key>public.kern1.C</key>
    <array>
      <string>C</string>
      <string>Cacute</string>
      <string>Ccaron</string>
      <string>Ccedilla</string>
      <string>Ccircumflex</string>
      <string>Cdotaccent</string>
    </array>
    <key>public.kern1.E</key>
    <array>
      <string>E</string>
      <string>Eacute</string>
      <string>Ebreve</string>
      <string>Ecaron</string>
      <string>Ecircumflex</string>
      <string>Edieresis</string>
      <string>Edotaccent</string>
      <string>Egrave</string>
      <string>Emacron</string>
      <string>Eogonek</string>
      <string>AE</string>
      <string>OE</string>
    </array>
    <key>public.kern1.G</key>
    <array>
      <string>G</string>
      <string>Gbreve</string>
      <string>Gcircumflex</string>
      <string>Gdotaccent</string>
      <string>Gcommaaccent</string>
    </array>
    <key>public.kern1.H</key>
    <array>
      <string>H</string>
      <string>I</string>
      <string>M</string>
      <string>N</string>
      <string>Hcircumflex</string>
      <string>Iacute</string>
      <string>Ibreve</string>
      <string>Icircumflex</string>
      <string>Idieresis</string>
      <string>Idotaccent</string>
      <string>Igrave</string>
      <string>Imacron</string>
      <string>Iogonek</string>
      <string>Itilde</string>
      <string>Nacute</string>
      <string>Ncaron</string>
      <string>Ntilde</string>
      <string>Hbar</string>
      <string>Eng</string>
      <string>Ncommaaccent</string>
    </array>
    <key>public.kern1.K</key>
    <array>
      <string>K</string>
      <string>Kcommaaccent</string>
      <string>X</string>
    </array>
    <key>public.kern1.L</key>
    <array>
      <string>L</string>
      <string>Lacute</string>
      <string>Lcaron</string>
      <string>Ldot</string>
      <string>Lslash</string>
      <string>Lcommaaccent</string>
    </array>
    <key>public.kern1.O</key>
    <array>
      <string>D</string>
      <string>O</string>
      <string>Q</string>
      <string>Dcaron</string>
      <string>Oacute</string>
      <string>Obreve</string>
      <string>Ocircumflex</string>
      <string>Odieresis</string>
      <string>Ograve</string>
      <string>Ohungarumlaut</string>
      <string>Omacron</string>
      <string>Otilde</string>
      <string>Dcroat</string>
      <string>Eth</string>
      <string>Oslash</string>
      <string>at.cap</string>
      <string>copyright</string>
    </array>
    <key>public.kern1.R</key>
    <array>
      <string>R</string>
      <string>Racute</string>
      <string>Rcaron</string>
      <string>Rcommaaccent</string>
    </array>
    <key>public.kern1.S</key>
    <array>
      <string>S</string>
      <string>Sacute</string>
      <string>Scaron</string>
      <string>Scedilla</string>
      <string>Scircumflex</string>
      <string>Scommaaccent</string>
    </array>
    <key>public.kern1.T</key>
    <array>
      <string>T</string>
      <string>Tcaron</string>
      <string>Tcedilla</string>
      <string>uni021A</string>
      <string>Tbar</string>
    </array>
    <key>public.kern1.U</key>
    <array>
      <string>J</string>
      <string>U</string>
      <string>Jcircumflex</string>
      <string>Uacute</string>
      <string>Ubreve</string>
      <string>Ucircumflex</string>
      <string>Udieresis</string>
      <string>Ugrave</string>
      <string>Uhungarumlaut</string>
      <string>Umacron</string>
      <string>Uogonek</string>
      <string>Uring</string>
      <string>Utilde</string>
      <string>IJ</string>
    </array>
    <key>public.kern1.W</key>
    <array>
      <string>W</string>
      <string>Wacute</string>
      <string>Wcircumflex</string>
      <string>Wdieresis</string>
      <string>Wgrave</string>
    </array>
    <key>public.kern1.Y</key>
    <array>
      <string>Y</string>
      <string>Yacute</string>
      <string>Ycircumflex</string>
      <string>Ydieresis</string>
      <string>Ygrave</string>
    </array>
    <key>public.kern1.Z</key>
    <array>
      <string>Z</string>
      <string>Zacute</string>
      <string>Zcaron</string>
      <string>Zdotaccent</string>
    </array>
    <key>public.kern1._colon</key>
    <array>
      <string>colon</string>
      <string>semicolon</string>
    </array>
    <key>public.kern1._dash</key>
    <array>
      <string>uni2015</string>
      <string>emdash</string>
      <string>endash</string>
      <string>hyphen</string>
      <string>minus</string>
      <string>plus</string>
    </array>
    <key>public.kern1._guil</key>
    <array>
      <string>guillemotleft</string>
      <string>guilsinglleft</string>
    </array>
    <key>public.kern1._guilright</key>
    <array>
      <string>guillemotright</string>
      <string>guilsinglright</string>
    </array>
    <key>public.kern1._iaccent</key>
    <array>
      <string>iacute</string>
      <string>ibreve</string>
      <string>icircumflex</string>
      <string>idieresis</string>
      <string>imacron</string>
      <string>itilde</string>
      <string>jcircumflex</string>
    </array>
    <key>public.kern1._parenleft</key>
    <array>
      <string>braceleft</string>
      <string>bracketleft</string>
      <string>parenleft</string>
    </array>
    <key>public.kern1._parenright</key>
    <array>
      <string>braceright</string>
      <string>bracketright</string>
      <string>parenright</string>
    </array>
    <key>public.kern1._period</key>
    <array>
      <string>comma</string>
      <string>ellipsis</string>
      <string>period</string>
    </array>
    <key>public.kern1._prime</key>
    <array>
      <string>quotedbl</string>
      <string>quotesingle</string>
    </array>
    <key>public.kern1._quote</key>
    <array>
      <string>quotedblleft</string>
      <string>quotedblright</string>
      <string>quoteleft</string>
      <string>quoteright</string>
    </array>
    <key>public.kern1._reg</key>
    <array>
      <string>asterisk</string>
      <string>degree</string>
      <string>registered</string>
      <string>trademark</string>
    </array>
    <key>public.kern1._six</key>
    <array>
      <string>five</string>
      <string>six</string>
    </array>
    <key>public.kern1._three</key>
    <array>
      <string>eight</string>
      <string>three</string>
    </array>
    <key>public.kern1._zero</key>
    <array>
      <string>nine</string>
      <string>zero</string>
    </array>
    <key>public.kern1.c</key>
    <array>
      <string>c</string>
      <string>cacute</string>
      <string>ccaron</string>
      <string>ccedilla</string>
      <string>ccircumflex</string>
      <string>cdotaccent</string>
    </array>
    <key>public.kern1.d</key>
    <array>
      <string>d</string>
      <string>l</string>
      <string>i</string>
      <string>j</string>
      <string>dcaron</string>
      <string>igrave</string>
      <string>iogonek</string>
      <string>lacute</string>
      <string>lcaron</string>
      <string>ij</string>
      <string>dcroat</string>
      <string>idotaccent</string>
      <string>lcommaaccent</string>
      <string>fi</string>
      <string>fl</string>
    </array>
    <key>public.kern1.e</key>
    <array>
      <string>e</string>
      <string>eacute</string>
      <string>ebreve</string>
      <string>ecaron</string>
      <string>ecircumflex</string>
      <string>edieresis</string>
      <string>edotaccent</string>
      <string>egrave</string>
      <string>emacron</string>
      <string>eogonek</string>
      <string>ae</string>
      <string>oe</string>
    </array>
    <key>public.kern1.f</key>
    <array>
      <string>f</string>
    </array>
    <key>public.kern1.g.alt</key>
    <array>
      <string>g.alt</string>
      <string>gbreve.alt</string>
      <string>gcircumflex.alt</string>
      <string>gcommaaccent.alt</string>
      <string>gdotaccent.alt</string>
    </array>
    <key>public.kern1.k</key>
    <array>
      <string>kcommaaccent</string>
      <string>kgreenlandic</string>
      <string>k</string>
      <string>x</string>
    </array>
    <key>public.kern1.n</key>
    <array>
      <string>a</string>
      <string>h</string>
      <string>n</string>
      <string>m</string>
      <string>aacute</string>
      <string>abreve</string>
      <string>acircumflex</string>
      <string>adieresis</string>
      <string>agrave</string>
      <string>amacron</string>
      <string>aogonek</string>
      <string>aring</string>
      <string>atilde</string>
      <string>hcircumflex</string>
      <string>nacute</string>
      <string>ncaron</string>
      <string>ntilde</string>
      <string>hbar</string>
      <string>eng</string>
      <string>ncommaaccent</string>
    </array>
    <key>public.kern1.o</key>
    <array>
      <string>o</string>
      <string>p</string>
      <string>b</string>
      <string>oacute</string>
      <string>obreve</string>
      <string>ocircumflex</string>
      <string>odieresis</string>
      <string>ograve</string>
      <string>ohungarumlaut</string>
      <string>omacron</string>
      <string>otilde</string>
      <string>thorn</string>
      <string>oslash</string>
    </array>
    <key>public.kern1.q</key>
    <array>
      <string>q</string>
      <string>u</string>
      <string>g</string>
      <string>gbreve</string>
      <string>gcircumflex</string>
      <string>gdotaccent</string>
      <string>uacute</string>
      <string>ubreve</string>
      <string>ucircumflex</string>
      <string>udieresis</string>
      <string>ugrave</string>
      <string>uhungarumlaut</string>
      <string>umacron</string>
      <string>uogonek</string>
      <string>uring</string>
      <string>utilde</string>
      <string>gcommaaccent</string>
      <string>dotlessj</string>
      <string>dotlessi</string>
      <string>a.school</string>
      <string>aacute.school</string>
      <string>abreve.school</string>
      <string>acircumflex.school</string>
      <string>adieresis.school</string>
      <string>agrave.school</string>
      <string>amacron.school</string>
      <string>aogonek.school</string>
      <string>aring.school</string>
      <string>atilde.school</string>
    </array>
    <key>public.kern1.r</key>
    <array>
      <string>r</string>
      <string>racute</string>
      <string>rcaron</string>
      <string>rcommaaccent</string>
    </array>
    <key>public.kern1.s</key>
    <array>
      <string>s</string>
      <string>sacute</string>
      <string>scaron</string>
      <string>scedilla</string>
      <string>scircumflex</string>
      <string>scommaaccent</string>
      <string>germandbls</string>
    </array>
    <key>public.kern1.t_1</key>
    <array>
      <string>t</string>
      <string>tcaron</string>
      <string>tcedilla</string>
      <string>uni021B</string>
      <string>tbar</string>
    </array>
    <key>public.kern1.v</key>
    <array>
      <string>v</string>
      <string>y</string>
      <string>yacute</string>
      <string>ycircumflex</string>
      <string>ydieresis</string>
      <string>ygrave</string>
    </array>
    <key>public.kern1.w</key>
    <array>
      <string>w</string>
      <string>wacute</string>
      <string>wcircumflex</string>
      <string>wdieresis</string>
      <string>wgrave</string>
    </array>
    <key>public.kern1.z</key>
    <array>
      <string>z</string>
      <string>zacute</string>
      <string>zcaron</string>
      <string>zdotaccent</string>
    </array>
    <key>public.kern2.A</key>
    <array>
      <string>A</string>
      <string>Aacute</string>
      <string>Abreve</string>
      <string>Acircumflex</string>
      <string>Adieresis</string>
      <string>Agrave</string>
      <string>Amacron</string>
      <string>Aogonek</string>
      <string>Aring</string>
      <string>Atilde</string>
      <string>AE</string>
    </array>
    <key>public.kern2.H</key>
    <array>
      <string>B</string>
      <string>D</string>
      <string>E</string>
      <string>F</string>
      <string>H</string>
      <string>I</string>
      <string>K</string>
      <string>L</string>
      <string>M</string>
      <string>N</string>
      <string>P</string>
      <string>R</string>
      <string>Dcaron</string>
      <string>Eacute</string>
      <string>Ebreve</string>
      <string>Ecaron</string>
      <string>Ecircumflex</string>
      <string>Edieresis</string>
      <string>Edotaccent</string>
      <string>Egrave</string>
      <string>Emacron</string>
      <string>Eogonek</string>
      <string>Hcircumflex</string>
      <string>Iacute</string>
      <string>Ibreve</string>
      <string>Icircumflex</string>
      <string>Idieresis</string>
      <string>Idotaccent</string>
      <string>Igrave</string>
      <string>Imacron</string>
      <string>Iogonek</string>
      <string>Itilde</string>
      <string>Lacute</string>
      <string>Lcaron</string>
      <string>Nacute</string>
      <string>Ncaron</string>
      <string>Ntilde</string>
      <string>Racute</string>
      <string>Rcaron</string>
      <string>Eng</string>
      <string>IJ</string>
      <string>Ldot</string>
      <string>Thorn</string>
      <string>Kcommaaccent</string>
      <string>Lcommaaccent</string>
      <string>Ncommaaccent</string>
      <string>Rcommaaccent</string>
    </array>
    <key>public.kern2.J</key>
    <array>
      <string>J</string>
      <string>Jcircumflex</string>
    </array>
    <key>public.kern2.O</key>
    <array>
      <string>C</string>
      <string>O</string>
      <string>G</string>
      <string>Q</string>
      <string>Cacute</string>
      <string>Ccaron</string>
      <string>Ccedilla</string>
      <string>Ccircumflex</string>
      <string>Cdotaccent</string>
      <string>Gbreve</string>
      <string>Gcircumflex</string>
      <string>Gdotaccent</string>
      <string>Oacute</string>
      <string>Obreve</string>
      <string>Ocircumflex</string>
      <string>Odieresis</string>
      <string>Ograve</string>
      <string>Ohungarumlaut</string>
      <string>Omacron</string>
      <string>Otilde</string>
      <string>OE</string>
      <string>Oslash</string>
      <string>Gcommaaccent</string>
      <string>at.cap</string>
      <string>copyright</string>
    </array>
    <key>public.kern2.S</key>
    <array>
      <string>S</string>
      <string>Sacute</string>
      <string>Scaron</string>
      <string>Scedilla</string>
      <string>Scircumflex</string>
      <string>Scommaaccent</string>
    </array>
    <key>public.kern2.T</key>
    <array>
      <string>T</string>
      <string>Tcaron</string>
      <string>Tcedilla</string>
      <string>uni021A</string>
      <string>Tbar</string>
    </array>
    <key>public.kern2.U</key>
    <array>
      <string>U</string>
      <string>Uacute</string>
      <string>Ubreve</string>
      <string>Ucircumflex</string>
      <string>Udieresis</string>
      <string>Ugrave</string>
      <string>Uhungarumlaut</string>
      <string>Umacron</string>
      <string>Uogonek</string>
      <string>Uring</string>
      <string>Utilde</string>
    </array>
    <key>public.kern2.W</key>
    <array>
      <string>W</string>
      <string>Wacute</string>
      <string>Wcircumflex</string>
      <string>Wdieresis</string>
      <string>Wgrave</string>
    </array>
    <key>public.kern2.Y</key>
    <array>
      <string>Y</string>
      <string>Yacute</string>
      <string>Ycircumflex</string>
      <string>Ydieresis</string>
      <string>Ygrave</string>
    </array>
    <key>public.kern2.Z</key>
    <array>
      <string>Z</string>
      <string>Zacute</string>
      <string>Zcaron</string>
      <string>Zdotaccent</string>
    </array>
    <key>public.kern2._colon</key>
    <array>
      <string>colon</string>
      <string>semicolon</string>
    </array>
    <key>public.kern2._dash</key>
    <array>
      <string>emdash</string>
      <string>endash</string>
      <string>hyphen</string>
      <string>minus</string>
      <string>plus</string>
      <string>uni2015</string>
    </array>
    <key>public.kern2._guil</key>
    <array>
      <string>guillemotleft</string>
      <string>guilsinglleft</string>
    </array>
    <key>public.kern2._guilright</key>
    <array>
      <string>guillemotright</string>
      <string>guilsinglright</string>
    </array>
    <key>public.kern2._iaccent</key>
    <array>
      <string>ibreve</string>
      <string>icircumflex</string>
      <string>idieresis</string>
      <string>igrave</string>
      <string>imacron</string>
      <string>itilde</string>
      <string>jcircumflex</string>
    </array>
    <key>public.kern2._parenleft</key>
    <array>
      <string>braceleft</string>
      <string>bracketleft</string>
      <string>parenleft</string>
    </array>
    <key>public.kern2._parenright</key>
    <array>
      <string>braceright</string>
      <string>bracketright</string>
      <string>parenright</string>
    </array>
    <key>public.kern2._period</key>
    <array>
      <string>comma</string>
      <string>ellipsis</string>
      <string>period</string>
    </array>
    <key>public.kern2._prime</key>
    <array>
      <string>quotedbl</string>
      <string>quotesingle</string>
    </array>
    <key>public.kern2._quote</key>
    <array>
      <string>quotedblleft</string>
      <string>quotedblright</string>
      <string>quoteleft</string>
      <string>quoteright</string>
    </array>
    <key>public.kern2._reg</key>
    <array>
      <string>asterisk</string>
      <string>degree</string>
      <string>registered</string>
      <string>trademark</string>
    </array>
    <key>public.kern2._three</key>
    <array>
      <string>five</string>
      <string>three</string>
    </array>
    <key>public.kern2._zero</key>
    <array>
      <string>six</string>
      <string>zero</string>
    </array>
    <key>public.kern2.a</key>
    <array>
      <string>a</string>
      <string>aacute</string>
      <string>abreve</string>
      <string>acircumflex</string>
      <string>adieresis</string>
      <string>agrave</string>
      <string>amacron</string>
      <string>aogonek</string>
      <string>aring</string>
      <string>atilde</string>
      <string>ae</string>
    </array>
    <key>public.kern2.b</key>
    <array>
      <string>b</string>
      <string>h</string>
      <string>k</string>
      <string>l</string>
      <string>i</string>
      <string>j</string>
      <string>hcircumflex</string>
      <string>iacute</string>
      <string>iogonek</string>
      <string>lacute</string>
      <string>lcaron</string>
      <string>germandbls</string>
      <string>hbar</string>
      <string>thorn</string>
      <string>ij</string>
      <string>ldot</string>
      <string>lslash</string>
      <string>idotaccent</string>
      <string>kcommaaccent</string>
      <string>lcommaaccent</string>
    </array>
    <key>public.kern2.g.alt</key>
    <array>
      <string>g.alt</string>
      <string>gbreve.alt</string>
      <string>gcircumflex.alt</string>
      <string>gcommaaccent.alt</string>
      <string>gdotaccent.alt</string>
    </array>
    <key>public.kern2.n</key>
    <array>
      <string>n</string>
      <string>r</string>
      <string>m</string>
      <string>p</string>
      <string>nacute</string>
      <string>ncaron</string>
      <string>ntilde</string>
      <string>racute</string>
      <string>rcaron</string>
      <string>eng</string>
      <string>dotlessj</string>
      <string>kgreenlandic</string>
      <string>ncommaaccent</string>
      <string>rcommaaccent</string>
      <string>dotlessi</string>
    </array>
    <key>public.kern2.o</key>
    <array>
      <string>c</string>
      <string>d</string>
      <string>e</string>
      <string>o</string>
      <string>q</string>
      <string>g</string>
      <string>cacute</string>
      <string>ccaron</string>
      <string>ccedilla</string>
      <string>ccircumflex</string>
      <string>cdotaccent</string>
      <string>dcaron</string>
      <string>eacute</string>
      <string>ebreve</string>
      <string>ecaron</string>
      <string>ecircumflex</string>
      <string>edieresis</string>
      <string>edotaccent</string>
      <string>egrave</string>
      <string>emacron</string>
      <string>eogonek</string>
      <string>gbreve</string>
      <string>gcircumflex</string>
      <string>gdotaccent</string>
      <string>oacute</string>
      <string>obreve</string>
      <string>ocircumflex</string>
      <string>odieresis</string>
      <string>ograve</string>
      <string>ohungarumlaut</string>
      <string>omacron</string>
      <string>otilde</string>
      <string>dcroat</string>
      <string>eth</string>
      <string>oslash</string>
      <string>oe</string>
      <string>gcommaaccent</string>
      <string>a.school</string>
      <string>aacute.school</string>
      <string>abreve.school</string>
      <string>acircumflex.school</string>
      <string>adieresis.school</string>
      <string>agrave.school</string>
      <string>amacron.school</string>
      <string>aogonek.school</string>
      <string>aring.school</string>
      <string>atilde.school</string>
    </array>
    <key>public.kern2.s</key>
    <array>
      <string>s</string>
      <string>sacute</string>
      <string>scaron</string>
      <string>scedilla</string>
      <string>scircumflex</string>
      <string>scommaaccent</string>
    </array>
    <key>public.kern2.t</key>
    <array>
      <string>f</string>
      <string>t</string>
      <string>tcaron</string>
      <string>tcedilla</string>
      <string>uni021B</string>
      <string>tbar</string>
      <string>fi</string>
      <string>fl</string>
    </array>
    <key>public.kern2.u</key>
    <array>
      <string>u</string>
      <string>uacute</string>
      <string>ubreve</string>
      <string>ucircumflex</string>
      <string>udieresis</string>
      <string>ugrave</string>
      <string>uhungarumlaut</string>
      <string>umacron</string>
      <string>uogonek</string>
      <string>uring</string>
      <string>utilde</string>
    </array>
    <key>public.kern2.w</key>
    <array>
      <string>w</string>
      <string>wacute</string>
      <string>wcircumflex</string>
      <string>wdieresis</string>
      <string>wgrave</string>
    </array>
    <key>public.kern2.y</key>
    <array>
      <string>y</string>
      <string>yacute</string>
      <string>ycircumflex</string>
      <string>ydieresis</string>
      <string>ygrave</string>
    </array>
    <key>public.kern2.z</key>
    <array>
      <string>z</string>
      <string>zacute</string>
      <string>zcaron</string>
      <string>zdotaccent</string>
    </array>
  </dict>
</plist>
