<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>acutecomb</key>
    <string>acutecomb.glif</string>
    <key>at</key>
    <string>at.glif</string>
    <key>copyright</key>
    <string>copyright.glif</string>
    <key>five.tab</key>
    <string>five.tab.glif</string>
    <key>four</key>
    <string>four.glif</string>
    <key>four.tab</key>
    <string>four.tab.glif</string>
    <key>gravecomb</key>
    <string>gravecomb.glif</string>
    <key>tildecomb</key>
    <string>tildecomb.glif</string>
    <key>uni0302</key>
    <string>uni0302.glif</string>
    <key>uni0304</key>
    <string>uni0304.glif</string>
    <key>uni0306</key>
    <string>uni0306.glif</string>
    <key>uni0307</key>
    <string>uni0307.glif</string>
    <key>uni0308</key>
    <string>uni0308.glif</string>
    <key>uni030A</key>
    <string>uni030A_.glif</string>
    <key>uni030B</key>
    <string>uni030B_.glif</string>
    <key>uni030C</key>
    <string>uni030C_.glif</string>
    <key>uni0326</key>
    <string>uni0326.glif</string>
    <key>uni0327</key>
    <string>uni0327.glif</string>
    <key>uni0328</key>
    <string>uni0328.glif</string>
  </dict>
</plist>
